body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: mistyrose;

}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    border-right: black solid thin;
}

.sidebar h2 {
    margin-top: 5px;
}

.sidebar div {
    font-family: sans-serif;
    font-size: large;

}

.rcolm li {
    margin: auto;
    text-align: center;
    font-size: xx-large;
    border: black solid thin;
    margin-top: 30px;
    width: 18vw;
    height: 18vh;
    background-color: lavender;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}
